<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- scripts -->
    <script src ="../scripts/pagina.js" ></script>
</head>
<body>

    <form class="box" action="login.html" method="POST">
        <h1>Login</h1>
        <img src="../img/img_pythonburguer.png" alt="logo">
        <input type="text" name="username" id="username" placeholder ="Username">
        <input type="password" name="pass" id="pass" placeholder ="Password">
        <input type="submit" id="btnlogin" name= "" value="Login" onclick="login()" >
        <input type="submit" id="close" name= "" value="Close" onclick="window.close()"> 
        <input type="submit" id="close" name= "" value="Solicitar Cadastro" onclick="SolicitarCadastro()"> 
    </form>


</body>

</html>