<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- scripts -->
    <script src ="../scripts/pagina.js" ></script>
</head>
<body>

    <form class="box" action="login.html" method="POST">
        <img src="../img/img_pythonburguer.png" alt="logo">
        <!-- Texto dentro do Input -->
        <input type="text" name="username" id="username" placeholder ="Username">
        <input type="password" name="pass" id="pass" placeholder ="Password">
        <button type="submit" id="login" onclick="login()"> Login </button>
        <button type="submit"id="close" onclick="window.close()"> X </button>

        </form>

        <!--
        <input type="submit" id="btnlogin" name= "" value="Login" onclick="login()>-->
        <!-- <input type="submit" id="close" name= "" value="Close" onclick="window.close()"> -->
         <!-- <input type="submit" id="solicitar" name= "" value="Solicitar Cadastro" onclick="SolicitarCadastro()"> -->
        
    

</body>

</html>